﻿@model GigHub.ViewModels.GigViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<p>All fields are <strong>required.</strong></p>

@using (Html.BeginForm("Create","Gigs"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(x => x.Venue)
        @Html.TextBoxFor(x => x.Venue, new { @class = "form-control", autofocus = true })
        @Html.ValidationMessageFor(x => x.Venue)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Date)
        @Html.TextBoxFor(x => x.Date, new { @class = "form-control" , placeholder="dd/MM/YYYY"})
        @Html.ValidationMessageFor(x => x.Date)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Time)
        @Html.TextBoxFor(x => x.Time, new { @class = "form-control" , placeholder="HH:mm"})
        @Html.ValidationMessageFor(x => x.Time)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Genre)
        @Html.DropDownListFor(x => x.Genre, new SelectList(Model.Genres, "Id", "Name"), "Select genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Genre)
    </div>

    <button type="submit" class="btn btn-primary"> Create </button>
}