﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


<ul class="nav navbar-nav navbar-right" id="dropdown">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        @User.Identity.GetUserName()
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="#">Gigs I'm going</a></li>
            <li><a href="#">Artists I'm following</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </li>
</ul>
    
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
